# Getting Started:

### Identiyfing the factors affecting the % of Children wasted and % of Underweight Children using features related to Mothers and Girls
### through NHFS Data

Children Wasted:

According to [WHO](https://www.who.int/data/gho/indicator-metadata-registry/imr-details/302) , Child wasting refers to a child who is too thin for his or her height and is the result of recent rapid weight loss or the failure to gain weight. A child who is moderately or severely wasted has an increased risk of death, but treatment is possible. Child wasting is one of the World Health Assembly nutrition target indicators. 

[WHO](https://www.who.int/data/gho/indicator-metadata-registry/imr-details/27)
defines prevalence of underweight (weight-for-age <-2 standard deviation from the median of the World Health Organization (WHO) Child Growth Standards) among children under 5 years of age.

## Importing the libraries and Datasets

In [27]:
# Array and Dataframe Operations:
import numpy as np
import pandas as pd

# Data Visualization:
import seaborn as sns
from matplotlib import pyplot as plt

# Models:
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor

# Data Engineering and Preprocessing:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler


# Metrics:
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [49]:
import nbformat

notebook_path = 'Child_underwt.ipynb'

try:
    # Read the notebook
    with open(notebook_path, 'r', encoding='utf-8') as f:
        notebook = nbformat.read(f, as_version=4)

    # Write the notebook back (this will re-format it correctly)
    with open(notebook_path, 'w', encoding='utf-8') as f:
        nbformat.write(notebook, f)
    print(f"Notebook {notebook_path} has been successfully validated and fixed.")
except Exception as e:
    print(f"An error occurred: {e}")

Notebook Child_underwt.ipynb has been successfully validated and fixed.

In [28]:
childdf = pd.read_csv("C:\\Users\\mehul\\OneDrive\\Desktop\\NHFS Research\\Data\\childdf.csv")
femaledf = pd.read_csv("C:\\Users\\mehul\\OneDrive\\Desktop\\NHFS Research\\Data\\femaledf.csv")

In [29]:
childdf.head()

,"Total children age 6-23 months receiving an adequate diet16, 17 (%)",Children under 5 years who are stunted (height-for-age)18 (%),Children under 5 years who are wasted (weight-for-height)18 (%),Children under 5 years who are severely wasted (weight-for-height)19 (%),Children under 5 years who are underweight (weight-for-age)18 (%),Children under 5 years who are overweight (weight-for-height)20 (%),Children age 6-59 months who are anaemic (<11.0 g/dl)22 (%),Children Prevalence of symptoms of acute respiratory infection (ARI) in the 2 weeks preceding the survey (Children under age 5 years) (%),Prevalence of diarrhoea in the 2 weeks preceding the survey (Children under age 5 years) (%)
0,18.7,21.6,15.7,24.6,24.6,1.5,37.7,1.8,5.7
1,5.9,27.0,27.0,42.8,42.8,0.8,30.4,7.0,4.5
2,23.5,21.1,12.6,17.4,17.4,7.2,43.4,0.0,6.0
3,16.1,19.7,19.5,21.4,21.4,4.5,59.6,1.3,11.9
4,1.8,36.4,19.2,32.2,32.2,4.7,66.7,1.4,7.5

In [30]:
childdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707 entries, 0 to 706
Data columns (total 9 columns):
 #   Column                                                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                                                      --------------  -----
 0   Total children age 6-23 months receiving an adequate diet16, 17  (%)                                                                        706 non-null    float64
 1   Children under 5 years who are stunted (height-for-age)18 (%)                                                                               707 non-null    float64
 2   Children under 5 years who are wasted (weight-for-height)18 (%)                                                                             707 non-null    float64
 3   Children under 5 years who are severely wasted (weight-for-height)19 (%)                                                                    707 non-null    float64
 4   Children under 5 years who are underweight (weight-for-age)18 (%)                                                                           707 non-null    float64
 5   Children under 5 years who are overweight (weight-for-height)20 (%)                                                                         707 non-null    float64
 6   Children age 6-59 months who are anaemic (<11.0 g/dl)22 (%)                                                                                 707 non-null    float64
 7   Children Prevalence of symptoms of acute respiratory infection (ARI) in the 2 weeks preceding the survey (Children under age 5 years) (%)   707 non-null    float64
 8   Prevalence of diarrhoea in the 2 weeks preceding the survey (Children under age 5 years) (%)                                                707 non-null    float64
dtypes: float64(9)
memory usage: 49.8 KB

In [31]:
target = childdf.iloc[:,3:5]

In [32]:
target.head()

,Children under 5 years who are severely wasted (weight-for-height)19 (%),Children under 5 years who are underweight (weight-for-age)18 (%)
0,24.6,24.6
1,42.8,42.8
2,17.4,17.4
3,21.4,21.4
4,32.2,32.2

In [33]:
femaledf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707 entries, 0 to 706
Data columns (total 47 columns):
 #   Column                                                                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                                                                          --------------  -----
 0   District Names                                                                                                                                                                  707 non-null    object
 1   State/UT                                                                                                                                                                        707 non-null    object
 2   Female_school ever %                                                                                                                                                            707 non-null    float64
 3   population % electricity                                                                                                                                                        707 non-null    float64
 4   drinking water %                                                                                                                                                                707 non-null    float64
 5   sanitation %                                                                                                                                                                    707 non-null    float64
 6   clean fuel %                                                                                                                                                                    707 non-null    float64
 7   iodized salt %                                                                                                                                                                  707 non-null    float64
 8   Health insurance/finance scheme %                                                                                                                                               707 non-null    float64
 9   Women literacy %                                                                                                                                                                707 non-null    float64
 10  Women (age 15-49)  with 10 or more years of schooling (%)                                                                                                                       707 non-null    float64
 11  women child marriage %                                                                                                                                                          707 non-null    float64
 12  Births in the 5 years preceding the survey that are third or higher order (%)                                                                                                   706 non-null    float64
 13  Women menstural hygiene                                                                                                                                                         707 non-null    float64
 14  Family planning methods %                                                                                                                                                       707 non-null    float64
 15  Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Any modern method6 (%)                                                                      707 non-null    float64
 16  Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Female sterilization (%)                                                                    707 non-null    float64
 17  Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - IUD/PPIUD (%)                                                                               707 non-null    float64
 18  Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Pill (%)                                                                                    707 non-null    float64
 19  Total Unmet need for Family Planning (Currently Married Women Age 15-49  years)7 (%)                                                                                            707 non-null    float64
 20  Unmet need for spacing (Currently Married Women Age 15-49  years)7 (%)                                                                                                          707 non-null    float64
 21  Health worker ever talked to female non-users about family planning (%)                                                                                                         707 non-null    float64
 22  Mothers who had at least 4 antenatal care visits  (for last birth in the 5 years before the survey) (%)                                                                         707 non-null    float64
 23  Mothers whose last birth was protected against neonatal tetanus (for last birth in the 5 years before the survey)9 (%)                                                          707 non-null    float64
 24  Mothers who consumed iron folic acid for 100 days or more when they were pregnant (for last birth in the 5 years before the survey) (%)                                         707 non-null    float64
 25  Mothers who consumed iron folic acid for 180 days or more when they were pregnant (for last birth in the 5 years before the survey} (%)                                         707 non-null    float64
 26  Registered pregnancies for which the mother received a Mother and Child Protection (MCP) card (for last birth in the 5 years before the survey) (%)                             707 non-null    float64
 27  Mothers who received postnatal care from a doctor/nurse/LHV/ANM/midwife/other health personnel within 2 days of delivery (for last birth in the 5 years before the survey) (%)  707 non-null    float64
 28  Average out-of-pocket expenditure per delivery in a public health facility (for last birth in the 5 years before the survey) (Rs.)                                              706 non-null    float64
 29  Women (age 15-49 years) whose Body Mass Index (BMI) is below normal (BMI <18.5 kg/m2)21 (%)                                                                                     707 non-null    float64
 30  Women (age 15-49 years) who are overweight or obese (BMI ?25.0 kg/m2)21 (%)                                                                                                     707 non-null    float64
 31  Women (age 15-49 years) who have high risk waist-to-hip ratio (?0.85) (%)                                                                                                       707 non-null    float64
 32  Non-pregnant women age 15-49 years who are anaemic (<12.0 g/dl)22 (%)                                                                                                           707 non-null    float64
 33  Pregnant women age 15-49 years who are anaemic (<11.0 g/dl)22 (%)                                                                                                               573 non-null    float64
 34  Anaemic women %                                                                                                                                                                 707 non-null    float64
 35  All women age 15-19 years who are anaemic22 (%)                                                                                                                                 707 non-null    float64
 36  Women  age 15 years and above with high (141-160 mg/dl) Blood sugar level23 (%)                                                                                                 707 non-null    float64
 37  Women age 15 years and above wih very high (>160 mg/dl) Blood sugar level23 (%)                                                                                                 707 non-null    float64
 38  Women high blood sugar %                                                                                                                                                        707 non-null    float64
 39  Women age 15 years and above wih Mildly elevated blood pressure (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)                                                 707 non-null    float64
 40  Women age 15 years and above wih Moderately or severely elevated blood pressure (Systolic ?160 mm of Hg and/or Diastolic ?100 mm of Hg) (%)                                     707 non-null    float64
 41  Women age 15 years and above wih Elevated blood pressure (Systolic ?140 mm of Hg and/or Diastolic ?90 mm of Hg) or taking medicine to control blood pressure (%)                707 non-null    float64
 42  Women (age 30-49 years) Ever undergone a screening test for cervical cancer (%)                                                                                                 707 non-null    float64
 43  Women (age 30-49 years) Ever undergone a breast examination for breast cancer (%)                                                                                               707 non-null    float64
 44  Women (age 30-49 years) Ever undergone an oral cavity examination for oral cancer (%)                                                                                           707 non-null    float64
 45  Women age 15 years and above who use any kind of tobacco (%)                                                                                                                    707 non-null    float64
 46  Women Alcohol %                                                                                                                                                                 707 non-null    float64
dtypes: float64(45), object(2)
memory usage: 259.7+ KB

In [34]:
l1 = []
for i in femaledf.columns:
    l1.append(i)
print(l1)

['District Names', 'State/UT', 'Female_school ever %', 'population % electricity', 'drinking water %', 'sanitation %', 'clean fuel %', 'iodized salt %', 'Health insurance/finance scheme %', 'Women literacy %', 'Women (age 15-49)  with 10 or more years of schooling (%)', 'women child marriage %', 'Births in the 5 years preceding the survey that are third or higher order (%)', 'Women menstural hygiene', 'Family planning methods %', 'Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Any modern method6 (%)', 'Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Female sterilization (%)', 'Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - IUD/PPIUD (%)', 'Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Pill (%)', 'Total Unmet need for Family Planning (Currently Married Women Age 15-49  years)7 (%)', 'Unmet need for spacing (Currently Married Women Age 15-49  years)7 (%)', 'Health worker ever talked to female non-users about family planning (%)', 'Mothers who had at least 4 antenatal care visits  (for last birth in the 5 years before the survey) (%)', 'Mothers whose last birth was protected against neonatal tetanus (for last birth in the 5 years before the survey)9 (%)', 'Mothers who consumed iron folic acid for 100 days or more when they were pregnant (for last birth in the 5 years before the survey) (%)', 'Mothers who consumed iron folic acid for 180 days or more when they were pregnant (for last birth in the 5 years before the survey} (%)', 'Registered pregnancies for which the mother received a Mother and Child Protection (MCP) card (for last birth in the 5 years before the survey) (%)', 'Mothers who received postnatal care from a doctor/nurse/LHV/ANM/midwife/other health personnel within 2 days of delivery (for last birth in the 5 years before the survey) (%)', 'Average out-of-pocket expenditure per delivery in a public health facility (for last birth in the 5 years before the survey) (Rs.)', 'Women (age 15-49 years) whose Body Mass Index (BMI) is below normal (BMI <18.5 kg/m2)21 (%)', 'Women (age 15-49 years) who are overweight or obese (BMI ?25.0 kg/m2)21 (%)', 'Women (age 15-49 years) who have high risk waist-to-hip ratio (?0.85) (%)', 'Non-pregnant women age 15-49 years who are anaemic (<12.0 g/dl)22 (%)', 'Pregnant women age 15-49 years who are anaemic (<11.0 g/dl)22 (%)', 'Anaemic women %', 'All women age 15-19 years who are anaemic22 (%) ', 'Women  age 15 years and above with high (141-160 mg/dl) Blood sugar level23 (%)', 'Women age 15 years and above wih very high (>160 mg/dl) Blood sugar level23 (%)', 'Women high blood sugar %', 'Women age 15 years and above wih Mildly elevated blood pressure (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)', 'Women age 15 years and above wih Moderately or severely elevated blood pressure (Systolic ?160 mm of Hg and/or Diastolic ?100 mm of Hg) (%)', 'Women age 15 years and above wih Elevated blood pressure (Systolic ?140 mm of Hg and/or Diastolic ?90 mm of Hg) or taking medicine to control blood pressure (%)', 'Women (age 30-49 years) Ever undergone a screening test for cervical cancer (%)', 'Women (age 30-49 years) Ever undergone a breast examination for breast cancer (%)', 'Women (age 30-49 years) Ever undergone an oral cavity examination for oral cancer (%)', 'Women age 15 years and above who use any kind of tobacco (%)', 'Women Alcohol %']

In [35]:
features = femaledf[['Female_school ever %','sanitation %','women child marriage %','Women menstural hygiene','Mothers who consumed iron folic acid for 180 days or more when they were pregnant (for last birth in the 5 years before the survey} (%)','Women (age 15-49 years) whose Body Mass Index (BMI) is below normal (BMI <18.5 kg/m2)21 (%)','Anaemic women %','Women age 15 years and above wih Elevated blood pressure (Systolic ?140 mm of Hg and/or Diastolic ?90 mm of Hg) or taking medicine to control blood pressure (%)','Births in the 5 years preceding the survey that are third or higher order (%)','Average out-of-pocket expenditure per delivery in a public health facility (for last birth in the 5 years before the survey) (Rs.)','Non-pregnant women age 15-49 years who are anaemic (<12.0 g/dl)22 (%)','All women age 15-19 years who are anaemic22 (%) ','Women Alcohol %','Women age 15 years and above who use any kind of tobacco (%)']]

In [36]:
features.head()

,Female_school ever %,sanitation %,women child marriage %,Women menstural hygiene,Mothers who consumed iron folic acid for 180 days or more when they were pregnant (for last birth in the 5 years before the survey} (%),Women (age 15-49 years) whose Body Mass Index (BMI) is below normal (BMI <18.5 kg/m2)21 (%),Anaemic women %,Women age 15 years and above wih Elevated blood pressure (Systolic ?140 mm of Hg and/or Diastolic ?90 mm of Hg) or taking medicine to control blood pressure (%),Births in the 5 years preceding the survey that are third or higher order (%),Average out-of-pocket expenditure per delivery in a public health facility (for last birth in the 5 years before the survey) (Rs.),Non-pregnant women age 15-49 years who are anaemic (<12.0 g/dl)22 (%),All women age 15-19 years who are anaemic22 (%),Women Alcohol %,Women age 15 years and above who use any kind of tobacco (%)
0,78.0,83.5,11.4,100.0,43.9,8.2,38.3,35.4,0.0,2278.0,38.4,48.0,29.6,63.5
1,82.7,86.4,15.4,100.0,24.1,8.6,62.1,27.4,1.5,1904.0,62.5,47.8,5.1,46.8
2,84.7,89.3,17.1,98.2,61.9,10.0,57.7,23.0,0.5,3460.0,57.6,43.2,1.7,19.6
3,60.0,71.6,25.4,78.0,35.3,13.8,62.6,22.1,0.0,3479.0,62.8,59.2,0.6,7.1
4,56.0,61.7,33.7,72.5,32.4,16.9,64.0,25.2,2.2,1931.0,64.6,73.9,0.8,11.4

# Data Preprocessing

### Imputing the NaN values:

In [37]:
imputer = SimpleImputer(strategy='mean')
target_imp = pd.DataFrame(imputer.fit_transform(target), columns=target.columns)

features_imp = pd.DataFrame(imputer.fit_transform(features), columns= features.columns)

## Target1 : Underweight %

### Scaling the data:

Robust Scaler : transform data and make it immune to outliers (But can have negative values).

In [38]:
robust = RobustScaler()
X = pd.DataFrame(robust.fit_transform(features_imp))
y1 = pd.DataFrame(robust.fit_transform(pd.DataFrame(target_imp.iloc[:,0])))

In [39]:
# Train test Split:

X_train,X_test,y_train1,y_test1 = train_test_split(X,y1,test_size=0.2,random_state=2)

In [40]:
target_columns = list(target.columns)
target_columns

['Children under 5 years who are severely wasted (weight-for-height)19 (%)',
 'Children under 5 years who are underweight (weight-for-age)18 (%)']

In [41]:
# Renaming the columns of scaled Dfs:

X_train.columns = features.columns
X_test.columns = features.columns

y_train1.rename(columns={0:'Children under 5 years who are severely wasted (weight-for-height)19 (%)'})
y_test1.rename(columns = {0:'Children under 5 years who are severely wasted (weight-for-height)19 (%)'})

     Children under 5 years who are severely wasted (weight-for-height)19 (%)
107                                          -0.621908
399                                          -0.961131
221                                          -0.579505
37                                            0.424028
524                                          -0.996466
..                                                 ...
13                                            1.194346
634                                           0.607774
633                                           0.876325
40                                            0.353357
650                                           0.508834

[142 rows x 1 columns]

### Model Training and Testing:

In [42]:
# Gradient Boosting Regressor:
gbm = GradientBoostingRegressor()
gbm.fit(X_train,y_train1)
y_pred1 = gbm.predict(X_test)
print(f"{r2_score(y_test1,y_pred1)} GBM")

# Random Forest Regressor:
rf = RandomForestRegressor()
rf.fit(X_train,y_train1)
y_pred1 = rf.predict(X_test)
print(f"{r2_score(y_test1,y_pred1)} RF")

c:\Users\mehul\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\ensemble\_gb.py:668: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?

0.6027431188641161 GBM

c:\Users\mehul\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.6069290684576989 RF

In [43]:

# Get feature importances
feature_importances = pd.Series(rf.feature_importances_, index=X_train.columns).sort_values(ascending=False)

# Display feature importances
print(feature_importances)

Women (age 15-49 years) whose Body Mass Index (BMI) is below normal (BMI <18.5 kg/m2)21 (%)                                                                         0.550758
sanitation %                                                                                                                                                        0.094043
Women menstural hygiene                                                                                                                                             0.064554
Average out-of-pocket expenditure per delivery in a public health facility (for last birth in the 5 years before the survey) (Rs.)                                  0.049888
Women age 15 years and above who use any kind of tobacco (%)                                                                                                        0.033604
Mothers who consumed iron folic acid for 180 days or more when they were pregnant (for last birth in the 5 years before the survey} (%)                             0.029213
Female_school ever %                                                                                                                                                0.027320
women child marriage %                                                                                                                                              0.025942
Women age 15 years and above wih Elevated blood pressure (Systolic ?140 mm of Hg and/or Diastolic ?90 mm of Hg) or taking medicine to control blood pressure (%)    0.025314
Women Alcohol %                                                                                                                                                     0.023594
All women age 15-19 years who are anaemic22 (%)                                                                                                                     0.021205
Births in the 5 years preceding the survey that are third or higher order (%)                                                                                       0.020976
Anaemic women %                                                                                                                                                     0.017639
Non-pregnant women age 15-49 years who are anaemic (<12.0 g/dl)22 (%)                                                                                               0.015951
dtype: float64

### Conclusion:

### from the above results, we can conclude that the following factors affect the Underweight incidence in Children the most:

1. % Women having BMI lower than normal -- 55.32%
2. Sanitation(general and menstrural) ---- 15.33%
3. Anaemia incidence --------------------- 5.74%
4. Alcohol and Tobacco ------------------- 5.22%
5. Female education and rest factors ----- 18.39%

## Target2: Underwieght %

In [44]:
robust = RobustScaler()
X = pd.DataFrame(robust.fit_transform(features_imp))
y2 = pd.DataFrame(robust.fit_transform(pd.DataFrame(target_imp.iloc[:,1])))

In [45]:
# Train test Split:

X_train,X_test,y_train2,y_test2 = train_test_split(X,y2,test_size=0.2,random_state=2)

In [46]:
# Renaming the columns of scaled Dfs:

X_train.columns = features.columns
X_test.columns = features.columns

y_train1.rename(columns={1:'Children under 5 years who are underweight (weight-for-age)18 (%)'})
y_test1.rename(columns = {1:'Children under 5 years who are underweight (weight-for-age)18 (%)'})

            0
107 -0.621908
399 -0.961131
221 -0.579505
37   0.424028
524 -0.996466
..        ...
13   1.194346
634  0.607774
633  0.876325
40   0.353357
650  0.508834

[142 rows x 1 columns]

### Model Training and Testing:

In [47]:
# Gradient Boosting Regressor:
gbm = GradientBoostingRegressor()
gbm.fit(X_train,y_train2)
y_pred2 = gbm.predict(X_test)
print(f"{r2_score(y_test2,y_pred2)} GBM")

# Random Forest Regressor:
rf = RandomForestRegressor()
rf.fit(X_train,y_train2)
y_pred2 = rf.predict(X_test)
print(f"{r2_score(y_test2,y_pred2)} RF")

c:\Users\mehul\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\ensemble\_gb.py:668: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?

0.6028423578578657 GBM

c:\Users\mehul\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.6108159637749754 RF

In [48]:

# Get feature importances
feature_importances = pd.Series(rf.feature_importances_, index=X_train.columns).sort_values(ascending=False)

# Display feature importances
print(feature_importances)

Women (age 15-49 years) whose Body Mass Index (BMI) is below normal (BMI <18.5 kg/m2)21 (%)                                                                         0.548505
sanitation %                                                                                                                                                        0.085961
Women menstural hygiene                                                                                                                                             0.063641
Average out-of-pocket expenditure per delivery in a public health facility (for last birth in the 5 years before the survey) (Rs.)                                  0.047036
Women age 15 years and above who use any kind of tobacco (%)                                                                                                        0.034287
Mothers who consumed iron folic acid for 180 days or more when they were pregnant (for last birth in the 5 years before the survey} (%)                             0.031023
women child marriage %                                                                                                                                              0.029301
Female_school ever %                                                                                                                                                0.028663
Women age 15 years and above wih Elevated blood pressure (Systolic ?140 mm of Hg and/or Diastolic ?90 mm of Hg) or taking medicine to control blood pressure (%)    0.028053
Women Alcohol %                                                                                                                                                     0.022535
Births in the 5 years preceding the survey that are third or higher order (%)                                                                                       0.022058
All women age 15-19 years who are anaemic22 (%)                                                                                                                     0.021617
Non-pregnant women age 15-49 years who are anaemic (<12.0 g/dl)22 (%)                                                                                               0.019236
Anaemic women %                                                                                                                                                     0.018084
dtype: float64

### Conclusion:

### from the above results, we can conclude that the following factors affect the Underweight incidence in Children the most:

1. % Women having BMI lower than normal -- 54.41%
2. Sanitation(general and menstrural) ---- 15.75%
3. Anaemia incidence --------------------- 5.72%
4. Alcohol and Tobacco ------------------- 5.41
5. Female education and rest factors ----- 18.39%